@import './../../colors';

.game-main-div {
    
    .current-card-box {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        margin-left: 42.5%;
        margin-top: 20px;
        background-color: $jetLightest;
        padding: 20px;
        padding-top: 10px;
        border-radius: 10px;
        max-width: 250px;

        .above-card-text {
            color: $quicksilverLight;
            margin-bottom: 4px;
            font-size: 20px;
            text-align: center;
        }

        .current-card {
            width: 100%;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    .chat {
        position: absolute;
        top: 70px;
        background-color: $jetLightest;
        padding: 20px;
        margin-left: 10px;
        width: 400px;
        border-radius: 20px;

        .messages {
            display: flex;
            flex-direction: column;
            height: 400px;
            overflow-x: hidden;
            overflow-y: auto;
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 10px;


            * {
                margin-bottom: 5px;
                color: $quicksilverLight;
            }
                        
            .server-message {
                font-weight: bolder;
                color: $quicksilverLight;
            }

        }


        input {
            margin-right: 10px;
            color: $jet;
            font-size: 20px;
            padding: 5px;
        }

        button {
            display: inline-block;
            padding: 5px;
            background-color: $quicksilver;
            color: $jetDark;
            cursor: pointer;
            text-decoration: none;
            border: none;
            transition: 0.4s;
            border-radius: 5px;
            width: 30%;
            margin: auto;
            font-size: 20px;
            border: 2px solid $quicksilverLight;

            &:hover {
                background-color: $quicksilverLight;
            }
            &:active {
                position:relative;
                top:1px;
            }
        }
    }

    .turn-order {
        position: absolute;
        top: 70px;
        right: 0px;
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        align-items: center;
        background-color: $quicksilverLight;
        padding: 20px;
        border-radius: 20px;

        .order-title {
            font-size: 30px;
            color: $jet;
            font-weight: bolder;
        }

        .order-players {
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 400px;

            .current-player-div, .player-div {
                background-color: $jetLightest;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 5px solid $jetDark;
                margin: 10px;
                width: 300px;
                word-break: break-word;
                text-align: center;;
    
                * {
                    color: $quicksilverLight;
                    font-size: 20px;
                    margin: 4px;
                }
    
                .player-name {
                    margin-top: 10px;
                }
    
                .player-cards {
                    font-style: italic;
                    margin-bottom: 10px;
                }
            }
    
            .current-player-div {
                background-color: $jetLight;
                
                * {
                    font-weight: bold;
                }
            }
        }
    }

    .card-select-box {
        margin: auto;
        margin-top: 100px;
        background-color: $jetLightest;
        width: 98%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .your-turn-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .turn-text {
                color: $quicksilverLight;
                font-size: 30px;
                font-weight: bolder;
                margin-top: 10px;
            }

            .play-card {
                display: inline-block;
                padding: 5px;
                background-color: $quicksilverLight;
                color: $jetDark;
                cursor: pointer;
                text-decoration: none;
                border: none;
                transition: 0.4s;
                border-radius: 5px;
                margin-top: 5px;
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 5px;
    
                &:hover {
                    background-color: $quicksilver;
                }
    
                &:active {
                    position:relative;
                    top:1px;
                }
            }
        }

        .cards-title {
            color: $quicksilverLight;
            font-size: 30px;
            font-weight: bolder;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .cards-amount {
            color: $quicksilverLight;
            font-size: 20px;
            font-style: italic;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .all-cards {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 250px;

            .selected-card-div, .card-div {
                padding: 10px;
                border-radius: 20px;
                margin: 10px;
                display: flex;
                align-items: center;
                cursor: pointer;

                svg {
                    width: 150px;
                    height: 100%;
                }
            }

            .selected-card-div {
                background-color: $jetDark;
            }
        }
    }
}
