
$jet: #312F2F;
$jetLight: #3E3C3C;
$jetLightest: #535050;
$jetDark: #2A2B2B;

$vermilion: #E3170A;
$vermilionLight: #F52314;
$vermilionDark: #D71709;

$quicksilver: #A2A79E;
$quicksilverLight: #E0E2DF;